body {
    background-color: #fbfbfb;
}
/* TOP CONTAINER */
#top-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 7.5em;
    padding: 8% 10%;
}

.outer-container {
    justify-self: center; /* to horizontlally center image */
    align-self: center;   /* to vertically center image */
}

.title {
    place-self: start;
}

.container-image {
    height: 280px;
    /* display: none; */
/* 
    place-self: end;
    align-self: center; */
}
h1 {
    font-family: "Walkind", sans-serif;
    font-size: 7rem;
    /* font-kerning: none; */
    letter-spacing: 0.03em;
}

.shape1, .shape2 {
    /* background-color: pink; */
    height: 15rem;
    width: 15rem;
    border-radius: 68% 32% 81% 19% / 29% 41% 59% 71% ;
    position: absolute;
    mix-blend-mode: multiply;
    filter: blur(25px);
}
.shape1 {
    background-color: #957de6;
    right: 150px;
    top: 220px;
    z-index: -1;
}

.shape2 {
    right: 430px;
    top: 110px;
    background-color: #ffb067;
    z-index: -1;
}

/* animation for shape */
.scale-up-center {
    animation: scale-up-center 7s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
}


@keyframes scale-up-center {
    0% {
        /* transform: translate(0px, 0px) scale(1); */
        transform: rotate(0deg) scale(1);
        filter: blur(35px);
    }

    33% {
        /* transform: translate(30px, -50px) scale(1.1); */
        transform: rotate(60deg) scale(1.2);
        filter: blur(60px);
    }

    60% {
        /* transform: translate(-20px, -20px) scale(0.9); */
        transform: rotate(360deg) scale(0.9);
        filter: blur(70px);
    }

    100% {
        /* transform: translate(0px, 0px) scale(1); */
        transform: rotate(0deg) scale(1);
        filter: blur(35px);
    }
}

.animation-delay-2000 {
    animation-delay: 2s;
}